{% extends 'dashboard/instructor/base.html' %}

{% load static %}

{% block body %}

<div class="container my-5 mx-5">
    <h4>Course: {{ course }} | ID: {{ user_id }} | Name: {{ user }}</h4>
               
    <table class="table">
      <thead>
        <tr>
          <th>Section ID</th>
          <th>Guest ID</th>
          <th>Completed</th>
          <th>Knowledge</th>
          <th>Reputation</th>
          <th>Money</th>
          <th>Catholic</th>
          <th>Reformist</th>
        </tr>
      </thead>
      <tbody>
        {% if gd %}
        {% for row in gd %}
        <tr>
          <td>{{ row.0 }}</td>
          <td>{{ row.1 }}</td>
          <td>{{ row.2 }}</td>
          <td>{{ row.3 }}</td>
          <td>{{ row.4 }}</td>
          <td>{{ row.5 }}</td>
          <td>{{ row.6 }}</td>
          <td>{{ row.7 }}</td>
        </tr>
        {% endfor %}
        {% endif %}


      </tbody>
    </table>
    
  </div>



    




{% endblock %}